@font-face {
    font-family: 'Bariol';
    src: url('Bariol-Bold.woff2') format('woff2'),
        url('Bariol-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

